@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

$font-stack: 'Space Grotesk', sans-serif !important;
$fs: 18px;

//colors
$linear-left: hsl(249, 99%, 64%);
$linear-right: hsl(278, 94%, 30%);
$error-red: hsl(0, 100%, 66%);

$neutral1: hsl(0, 0%, 100%);
$neutral2: hsl(270, 3%, 87%);
$neutral3: hsl(279, 6%, 55%);
$neutral4: hsl(278, 68%, 11%);

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: $font-stack;
    font-weight: 500;
    font-size: $fs;
    min-height: 100vh;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  .bg-image{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .front-card, .back-card{
    width: -moz-fit-content;
    width: fit-content;
  }

  .back-card{transform: translateX(25%);}

  .card-logo{
    position: absolute;
    top: 10px;
    left: 20px;
    width: 100%;
  }

  .card-number{
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 34px;
  }

  .card-name{
    position: absolute;
    bottom: 5%;
    left: 5%;
  }

  .date{
    position: absolute;
    bottom: 5%;
    right: 5%;
  }

  .cvc{
    width: 40%;
    position: absolute;
    
    transform: translate(200%, -570%);
  }

  form label{
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 10px;
  }

  form input{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid $neutral3;
    transition: 200ms ease-in;
  }

  #month, #year {
    width: 30%;
    margin-right: 20px;
  }

  #cvc{
    width: 40%;
  }

  .submit-btn{
    background-color: $neutral4;
    color: $neutral1;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 0px;
  }

  input::placeholder{color: $neutral4}
  input:focus{
    outline: none;
    border-image-source: linear-gradient($linear-left,$linear-right);
    border-width: 2px;
    border-image-slice: 1;
    border-radius: 10px;
  }

  .title{
    text-transform: uppercase;
    color: $neutral4;
  }

  .text{
    color: $neutral3;
  }

  .form{
    display: flex;
    flex-direction: column;
  }

  .submitted-container{
    display: none;
  }

  .card-name-error, .card-number-error, .month-error, .year-error, .cvc-error{
    color: $error-red;
  }

  /* media queries */

  @media all and (max-width: 994px){
    .card-number{font-size: 24px;}
    .cvc{
        transform: translate(195%, -500%);
    }
  }


  @media all and (max-width: 768px){
    .back-card{
        transform: translate(25%, 55%);
        z-index: -1;
    }
    .card-number{font-size: 18px;}
    .cvc{
        transform: translate(190%, -380%);
    }
  }


  @media all and (max-width: 400px){
        .back-card{
        transform: translate(25%, 55%);
        z-index: -1;
    }
    .card-name, .date {bottom: 0%;}
    .cvc {
        top: 40%;
        transform: translate(185%, -330%);
    }
  }